body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: #f5f6fa;
    box-shadow: 0 0 4px 1px rgb(219, 219, 219);
}

.header input {
    border: none;
    outline: none;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 0 2px 1px #dedee0;
    transition: 0.2s step-end;
    -o-transition: 0.2s step-end;
    -webkit-transition: 0.2s step-end;
    -moz-transition: 0.2s step-end;
}

.header input:focus {
    display: ltr;
    box-shadow: 0 0 2px 1px #81ecec;
    transition: 0.2s step-end;
    -o-transition: 0.2s step-end;
    -webkit-transition: 0.2s step-end;
    -moz-transition: 0.2s step-end;
}

.header button {
    background-color: #FC427B;
}

.header button:hover {
    background-color: #e84393;
}

.gallery ul li {
    height: 360px;
    padding: 5px;
    overflow: hidden;
}

.gallery ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.alert {
    text-align: center;
}

.alert small {
    font-size: 10px;
}